.home-main-div {
    background-image: url(../assets/Images/m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.inquiry-main-div {
    background-image: url(../assets/Images/n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}