body {
    margin: 0;
    padding: 0;

}


.navbar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert-div {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}